.pagination_div {
  margin: 1vw 2vw 1vw 3.5vw;
}

.number_btn button {
  padding: 5px 14px;
  color: var(--text_white);
  border-radius: 7px;
  background: var(--text_black);
  transition: 1s;
  border: 1px solid #eff3fd;
}
.active {
  background-color: var(--green) !important;
}
