.post {
  border-radius: 6px;
  padding: 15px;
  background-color: var(--body);
  height: fit-content;
}

.post .profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.post img {
  width: 100%;
  object-fit: cover;
}

.userInfo .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  letter-spacing: -1px;
  margin-left: 8px;
}
.userInfo .name {
  font-weight: 600;
  color: var(--text_black);
}
.userInfo .email {
  color: var(--grayWritingColor);
  font-size: 12px;
  /* transform: scale(0.8); */
}

.postText {
  line-height: 1.2rem;
  font-weight: 500;
}
.preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.preview .imgContainer,
.preview .videoContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  flex-basis: auto;
}

.preview .imgContainer img,
.preview .videoContainer video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.modalview {
  background-color: transparent;
}

.modalContent {
  background-color: transparent;
  backdrop-filter: blur(5px);
  width: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: auto !important; */
}

.modalBody {
  width: 100% !important;
}
.modalBody img,
.modalBody video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reactsNum {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  border-bottom: 1px solid var(--text_gray);
}

.reactsNum .likes,
.reactsNum .comments {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.5px;
  margin: 0;
}

.reacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.reacts .like,
.reacts .comment,
.reacts .share {
  border-radius: 6px;
  padding: 2px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: var(--text_white);
  width: 30%;
  cursor: pointer;
}

.like .likeIcon {
  color: var(--light-blue);
}

.like.likedPost {
  background-color: var(--light-blue);
}

.like.likedPost .likeIcon {
  color: var(--text_white);
}
