.mealCard {
  /* margin-top: 50px; */
  width: 370px;
  height: 300px;
  border-radius: 15px;
  background-image: url("../../assets/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.mealCard .mealInfo {
  color: var(--text_white);
  background-color: #4c4c4cba;
  display: flex;
  width: 100%;
  height: 120px;
  border-radius: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: end;
  padding: 10px;
}
.mealCard .mealInfo .mealRates {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mealCard .mealInfo .mealRates span {
  font-size: 18px;
  font-weight: 600;
}

.mealCard .mealInfo .description {
  font-family: poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.mealCard .bookmark {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #4c4c4cba;
  padding: 3px 12px;
  border-radius: 10px;
}

.mealCard .imageContainer {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: "relative";
  overflow: "hidden";
}
