.head_title {
  border-bottom: 4px solid var(--green);
  color: #3d3a36;
  font-size: 2rem;
  font-style: bold;
  font-weight: 500;
  text-transform: capitalize;
}
.Food_Icon {
  border: 2px solid var(--green);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.icon_details {
  color: var(--green);
  width: 2rem;
  height: 2rem;
}
.icon_value {
  color: #272727;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-right: 1rem;
}
.borderDash {
  border-right: 1px dashed var(--green);
}
.divider_title {
  color: #3d3a36;
  text-align: center;
  font-size: 37px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 4px solid var(--green);
  width: max-content;
  margin: 4rem 1rem;
}
.ingredients {
  border-bottom: 2px dashed var(--green);
  color: var(--text_black);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.directionDiv {
  border-radius: 11px;
  background: rgba(173, 250, 160, 0.2);
  padding: 1rem;
  color: var(--text_black);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  text-align: right;
}
.directionDiv span {
  color: var(--green);
  font-weight: bold;
  font-size: 2.5rem;
}
